---
import Dashboard from "../../../layouts/Dashboard.astro";

const resp = await fetch('http://localhost:3000/api/penjualan');
const sales = await resp.json();
---

<Dashboard title="Sales">
    <div class="space-y-6">
        <!-- Search Bar -->
        <div class="flex items-center justify-center">
            <div class="relative w-64">
                <input id="searchInput" type="text" placeholder="Search" class="w-full bg-white px-4 py-2 rounded-4xl focus:outline-none focus:ring-2 focus:ring-pink-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search absolute right-3 top-2.5"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
            </div>
        </div>

        <!-- Card -->
        <section class="bg-white rounded-xl shadow-sm max-h-100 overflow-y-auto overflow-x-auto">
            <!-- Card Header -->
            <div class="flex bg-white items-center sticky top-0 justify-between px-4 py-4 border-b border-gray-500">
                <h2 class="font-bold text-2xl">Data Penjualan</h2>
                <div class="flex gap-2">
                    <!-- <button class="px-3 py-1 text-sm border rounded-md hover:bg-gray-100">
                        Filter
                    </button> -->
                    <button id="resetSearch" class="px-3 py-1 text-sm border rounded-md bg-gray-100 hover:bg-gray-200">
                        See All
                    </button>
                    <button class="px-3 py-1 text-sm bg-pink-500 text-white rounded-md hover:bg-pink-600">
                        + Add
                    </button>
                </div>
            </div>

            <!-- Table -->
            <table class="w-full text-sm">
                <thead class="text-gray-500 border-b">
                    <tr>
                        <th class="text-left px-2 py-3">ID</th>
                        <th class="text-left py-3">Tanggal Transaksi</th>
                        <th class="text-left py-3">Total Pendapatan</th>
                        <th class="text-left py-3">Nama Customer</th>
                        <th class="text-center py-3">Aksi</th>
                    </tr>
                </thead>
                <tbody id="salesTableBody">
                {sales.map((order: any) => (
                    <tr class="border-b hover:bg-gray-100" data-search={`${order.id} ${order.customer_name} ${order.transaction_date}`.toLowerCase()}>
                        <!-- Product -->
                        <td class="py-3 px-2 text-left font-medium">{order.id}</td>
                        <td class="py-3">{order.transaction_date}</td>
                        <td class="py-3">Rp. {order.total_amount},-</td>
                        <td class="py-3">{order.customer_name}</td>

                        <!-- Action -->
                        <td class="py-3 text-center">
                            <div class="flex justify-center gap-2">
                                <button class="p-1 rounded-full bg-gray-200 hover:bg-gray-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pencil"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg>
                                </button>
                                <button class="p-1 rounded-full bg-gray-200 hover:bg-gray-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16z" /><path d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z" /></svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                ))}
                </tbody>
            </table>
        </section>

        <!-- Pagination -->
    </div>

    <script is:inline>
        const searchInput = document.getElementById('searchInput');
        const resetBtn = document.getElementById('resetSearch');
        const rows = document.querySelectorAll('#salesTableBody tr');

        function filterTable(keyword) {
            rows.forEach(row => {
                const text = row.dataset.search || '';
                row.style.display = text.includes(keyword) ? '' : 'none';
            })
        }

        // Search input event
        searchInput.addEventListener('input', (e) => {
            const keyword = e.target.value.toLowerCase().trim();
            filterTable(keyword);
        });

        // Reset button event
        resetBtn.addEventListener('click', () => {
            searchInput.value = '';
            filterTable('');
        });
    </script>
</Dashboard>