---
import Dashboard from "../../layouts/Dashboard.astro";

const [data1, data2, data3, data4, data5, data6, data7, data8, data9, data10] = await Promise.all([
    fetch('http://localhost:3000/api/uas/1').then(res => res.json()),
    fetch('http://localhost:3000/api/uas/2').then(res => res.json()),
    fetch('http://localhost:3000/api/uas/3').then(res => res.json()),
    fetch('http://localhost:3000/api/uas/4').then(res => res.json()),
    fetch('http://localhost:3000/api/uas/5').then(res => res.json()),
    fetch('http://localhost:3000/api/uas/6').then(res => res.json()),
    fetch('http://localhost:3000/api/uas/7').then(res => res.json()),
    fetch('http://localhost:3000/api/uas/8').then(res => res.json()),
    fetch('http://localhost:3000/api/uas/9').then(res => res.json()),
    fetch('http://localhost:3000/api/uas/10').then(res => res.json())
]);

const totalRevenue = data9.reduce(
    (sum: number, d: any) => sum + Number(d.TotalNominal),
    0
);

const totalOrders = data2.reduce(
    (sum: number, d: any) => sum + Number(d.JumlahOrder),
    0
);

const totalProducts = data5.length;

const totalCustomers = new Set(data2.map((d: any) => d.CUST_NAME)).size;
---

<Dashboard title="Dashboard">
    <div class="space-y-6">
        <!-- Summary Cards Section -->
        <section class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4">
            <div class="bg-white rounded-xl p-4 shadow-sm">
                <div class="flex justify-between items-start">
                    <p class="text-sm text-gray-800">Pendapatan</p>
                    <span>...</span>
                </div>
                <h3 class="mt-2 text-xl font-semibold">Rp. {totalRevenue.toLocaleString("id-ID")}</h3>
                <div class="flex items-center gap-2 md:gap-4 mt-4">
                    <div class="mt-2 text-sm text-green-600 bg-green-100 inline-block px-3 py-0.5 rounded">↑ 20%</div>
                    <p class="text-sm text-gray-800">Last Week</p>
                </div>
            </div>
            <div class="bg-white rounded-xl p-4 shadow-sm">
                <div class="flex justify-between items-start">
                    <p class="text-sm text-gray-800">Total Order</p>
                    <span>...</span>
                </div>
                <h3 class="mt-2 text-xl font-semibold">{totalOrders}</h3>
                <div class="flex items-center gap-2 md:gap-4 mt-4">
                    <div class="mt-2 text-sm text-green-600 bg-green-100 inline-block px-3 py-0.5 rounded">↑ 10%</div>
                    <p class="text-sm text-gray-800">Last Week</p>
                </div>
            </div>
            <div class="bg-white rounded-xl p-4 shadow-sm">
                <div class="flex justify-between items-start">
                    <p class="text-sm text-gray-800">Total Produk</p>
                    <span>...</span>
                </div>
                <h3 class="mt-2 text-xl font-semibold">{totalProducts}</h3>
                <div class="flex items-center gap-2 md:gap-4 mt-4">
                    <div class="mt-2 text-sm text-gray-600 bg-gray-200 inline-block px-3 py-0.5 rounded">~ 0%</div>
                    <p class="text-sm text-gray-800">Last Week</p>
                </div>
            </div>
            <div class="bg-white rounded-xl p-4 shadow-sm">
                <div class="flex justify-between items-start">
                    <p class="text-sm text-gray-800">Total Customers</p>
                    <span>...</span>
                </div>
                <h3 class="mt-2 text-xl font-semibold">{totalCustomers}</h3>
                <div class="flex items-center gap-2 md:gap-4 mt-4">
                    <div class="mt-2 text-sm text-green-600 bg-green-100 inline-block px-3 py-0.5 rounded">↑ 15%</div>
                    <p class="text-sm text-gray-800">Last Week</p>
                </div>
            </div>
        </section>

        <!-- Table Section -->
        <!-- Most purchased products of the previous year -->
        <section class="bg-white rounded-xl p-4 shadow-sm max-h-100 overflow-y-auto overflow-x-auto">
            <h2 class="font-bold mb-4 text-2xl">Most purchased products of the previous year</h2>
            <table class="w-full text-sm">
                <thead class="text-gray-500 border-b">
                    <tr>
                        <th class="text-left py-2">Product Name</th>
                        <th class="text-left py-2">Total Order</th>
                    </tr>
                </thead>
                <tbody>
                    {data1.map((dt1: any) => (
                        <tr class="border-b hover:bg-gray-200">
                            <td class="py-3">{dt1.PRODUCT_NAME}</td>
                            <td class="py-3">{dt1.TotalQty}</td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </section>

        <!-- Customer with the most orders in the previous year -->
        <section class="bg-white rounded-xl p-4 shadow-sm max-h-100 overflow-y-auto overflow-x-auto">
            <h2 class="font-bold mb-4 text-2xl">Customer with the most orders in the previous year</h2>
            <table class="w-full text-sm">
                <thead class="text-gray-500 border-b">
                    <tr>
                        <th class="text-left py-2">Customer Name</th>
                        <th class="text-left py-2">Total Order</th>
                    </tr>
                </thead>
                <tbody>
                    {data2.map((dt2: any) => (
                        <tr class="border-b hover:bg-gray-200">
                            <td class="py-3">{dt2.CUST_NAME}</td>
                            <td class="py-3">{dt2.JumlahOrder}</td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </section>

        <!-- Customer with the largest order value in the previous year -->
        <section class="bg-white rounded-xl p-4 shadow-sm overflow-x-auto">
            <h2 class="font-bold mb-4 text-2xl">Customer with the largest order value in the previous year</h2>
            <p class="text-sm text-gray-800">Customer Name</p>
            <div class="mt-2 border w-md border-gray-300"></div>
            {data3.map((dt3: any) => (
                <h3 class="mt-3 text-xl font-semibold">{dt3.CUST_NAME}</h3>
                <div class="flex items-center gap-2 md:gap-4 mt-4">
                    <p class="text-sm text-gray-800">Order Value</p>
                    <div class="mt-2 text-sm text-green-600 bg-green-100 inline-block px-3 py-0.5 rounded">Rp. {dt3.NominalOrder},-</div>
                </div>
            ))}
        </section>

        <!-- Customer with the most items in the previous year -->
        <section class="bg-white rounded-xl p-4 shadow-sm max-h-100 overflow-y-auto overflow-x-auto">
            <h2 class="font-bold mb-4 text-2xl">Customer with the most items in the previous year</h2>
            <table class="w-full text-sm">
                <thead class="text-gray-500 border-b">
                    <tr>
                        <th class="text-left py-2">Customer Name</th>
                        <th class="text-left py-2">Total Items</th>
                    </tr>
                </thead>
                <tbody>
                    {data4.map((dt4: any) => (
                        <tr class="border-b hover:bg-gray-200">
                            <td class="py-3">{dt4.CUST_NAME}</td>
                            <td class="py-3">{dt4.TotalItems}</td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </section>

        <!-- Top 10 best-selling products of the previous year -->
        <section class="bg-white rounded-xl p-4 shadow-sm overflow-x-auto">
            <h2 class="font-bold mb-4 text-2xl">Top 10 best-selling products of the previous year</h2>
            <table class="w-full text-sm">
                <thead class="text-gray-500 border-b">
                    <tr>
                        <th class="text-left py-2">Nomor</th>
                        <th class="text-left py-2">Product Name</th>
                        <th class="text-left py-2">Price</th>
                        <th class="text-left py-2">Kategori</th>
                        <th class="text-left py-2">Order</th>
                        <th class="text-left py-2">Amount</th>
                        <th class="text-left py-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {data5.map((dt5: any) => (
                        <tr class="border-b hover:bg-gray-200">
                            <td class="py-3">{dt5.NOMOR}</td>
                            <td class="py-3">{dt5.PRODUCT_NAME}</td>
                            <td class="py-3">Rp {dt5.PRICE.toLocaleString('id-ID')}</td>
                            <td class="py-3">{dt5.KATEGORI}</td>
                            <td class="py-3">{dt5.ORDER}</td>
                            <td class="py-3">Rp {dt5.AMOUNT.toLocaleString('id-ID')}</td>
                            <td class="py-3">
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-xs">
                                    Detail
                                </button>
                            </td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </section>

        <!-- Monthly sales profit per product -->
        <section class="bg-white rounded-xl p-4 shadow-sm max-h-100 overflow-y-auto overflow-x-auto">
            <h2 class="font-bold mb-4 text-2xl">Monthly sales profit per product</h2>
            <table class="w-full text-sm">
                <thead class="text-gray-500 border-b">
                    <tr>
                        <th class="text-left py-2">Nomor</th>
                        <th class="text-left py-2">Product Name</th>
                        <th class="text-left py-2">Jan</th>
                        <th class="text-left py-2">Feb</th>
                        <th class="text-left py-2">Mar</th>
                        <th class="text-left py-2">Apr</th>
                        <th class="text-left py-2">Mei</th>
                        <th class="text-left py-2">Jun</th>
                        <th class="text-left py-2">Jul</th>
                        <th class="text-left py-2">Agt</th>
                        <th class="text-left py-2">Sep</th>
                        <th class="text-left py-2">Okt</th>
                        <th class="text-left py-2">Nov</th>
                        <th class="text-left py-2">Des</th>
                    </tr>
                </thead>
                <tbody>
                    {data6.map((dt6: any) => (
                        <tr class="border-b hover:bg-gray-200">
                            <td class="py-3">{dt6.NOMOR}</td>
                            <td class="py-3">{dt6.PRODUCT_NAME}</td>
                            <td class="py-3">{dt6.JANUARI?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt6.FEBRUARI?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt6.MARET?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt6.APRIL?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt6.MEI?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt6.JUNI?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt6.JULI?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt6.AGUSTUS?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt6.SEPTEMBER?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt6.OKTOBER?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt6.NOVEMBER?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt6.DESEMBER?.toLocaleString('id-ID') || '-'}</td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </section>

        <!-- Monthly sales amount per product -->
        <section class="bg-white rounded-xl p-4 shadow-sm max-h-100 overflow-y-auto overflow-x-auto">
            <h2 class="font-bold mb-4 text-2xl">Monthly sales amount per product</h2>
            <table class="w-full text-sm">
                <thead class="text-gray-500 border-b">
                    <tr>
                        <th class="text-left py-2">Nomor</th>
                        <th class="text-left py-2">Product Name</th>
                        <th class="text-left py-2">Jan</th>
                        <th class="text-left py-2">Feb</th>
                        <th class="text-left py-2">Mar</th>
                        <th class="text-left py-2">Apr</th>
                        <th class="text-left py-2">Mei</th>
                        <th class="text-left py-2">Jun</th>
                        <th class="text-left py-2">Jul</th>
                        <th class="text-left py-2">Agt</th>
                        <th class="text-left py-2">Sep</th>
                        <th class="text-left py-2">Okt</th>
                        <th class="text-left py-2">Nov</th>
                        <th class="text-left py-2">Des</th>
                    </tr>
                </thead>
                <tbody>
                    {data7.map((dt7: any) => (
                        <tr class="border-b hover:bg-gray-200">
                            <td class="py-3">{dt7.NOMOR}</td>
                            <td class="py-3">{dt7.PRODUCT_NAME}</td>
                            <td class="py-3">{dt7.JANUARI || '-'}</td>
                            <td class="py-3">{dt7.FEBRUARI || '-'}</td>
                            <td class="py-3">{dt7.MARET || '-'}</td>
                            <td class="py-3">{dt7.APRIL || '-'}</td>
                            <td class="py-3">{dt7.MEI || '-'}</td>
                            <td class="py-3">{dt7.JUNI || '-'}</td>
                            <td class="py-3">{dt7.JULI || '-'}</td>
                            <td class="py-3">{dt7.AGUSTUS || '-'}</td>
                            <td class="py-3">{dt7.SEPTEMBER || '-'}</td>
                            <td class="py-3">{dt7.OKTOBER || '-'}</td>
                            <td class="py-3">{dt7.NOVEMBER || '-'}</td>
                            <td class="py-3">{dt7.DESEMBER || '-'}</td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </section>

        <!-- Number of monthly orders per customer -->
        <section class="bg-white rounded-xl p-4 shadow-sm max-h-100 overflow-y-auto overflow-x-auto">
            <h2 class="font-bold mb-4 text-2xl">Number of monthly orders per customer</h2>
            <table class="w-full text-sm">
                <thead class="text-gray-500 border-b">
                    <tr>
                        <th class="text-left py-2">Nomor</th>
                        <th class="text-left py-2">Customer Name</th>
                        <th class="text-left py-2">Jan</th>
                        <th class="text-left py-2">Feb</th>
                        <th class="text-left py-2">Mar</th>
                        <th class="text-left py-2">Apr</th>
                        <th class="text-left py-2">Mei</th>
                        <th class="text-left py-2">Jun</th>
                        <th class="text-left py-2">Jul</th>
                        <th class="text-left py-2">Agt</th>
                        <th class="text-left py-2">Sep</th>
                        <th class="text-left py-2">Okt</th>
                        <th class="text-left py-2">Nov</th>
                        <th class="text-left py-2">Des</th>
                    </tr>
                </thead>
                <tbody>
                    {data8.map((dt8: any) => (
                        <tr class="border-b hover:bg-gray-200">
                            <td class="py-3">{dt8.NOMOR}</td>
                            <td class="py-3">{dt8.cust_name}</td>
                            <td class="py-3">{dt8.januari || '-'}</td>
                            <td class="py-3">{dt8.februari || '-'}</td>
                            <td class="py-3">{dt8.maret || '-'}</td>
                            <td class="py-3">{dt8.april || '-'}</td>
                            <td class="py-3">{dt8.mei || '-'}</td>
                            <td class="py-3">{dt8.juni || '-'}</td>
                            <td class="py-3">{dt8.juli || '-'}</td>
                            <td class="py-3">{dt8.agustus || '-'}</td>
                            <td class="py-3">{dt8.september || '-'}</td>
                            <td class="py-3">{dt8.oktober || '-'}</td>
                            <td class="py-3">{dt8.november || '-'}</td>
                            <td class="py-3">{dt8.desember || '-'}</td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </section>

        <!-- Total monthly order amount per customer -->
        <section class="bg-white rounded-xl p-4 shadow-sm max-h-100 overflow-y-auto overflow-x-auto">
            <h2 class="font-bold mb-4 text-2xl">Total monthly order amount per customer</h2>
            <table class="w-full text-sm">
                <thead class="text-gray-500 border-b">
                    <tr>
                        <th class="text-left py-2">Nomor</th>
                        <th class="text-left py-2">Customer Name</th>
                        <th class="text-left py-2">Jan</th>
                        <th class="text-left py-2">Feb</th>
                        <th class="text-left py-2">Mar</th>
                        <th class="text-left py-2">Apr</th>
                        <th class="text-left py-2">Mei</th>
                        <th class="text-left py-2">Jun</th>
                        <th class="text-left py-2">Jul</th>
                        <th class="text-left py-2">Agt</th>
                        <th class="text-left py-2">Sep</th>
                        <th class="text-left py-2">Okt</th>
                        <th class="text-left py-2">Nov</th>
                        <th class="text-left py-2">Des</th>
                    </tr>
                </thead>
                <tbody>
                    {data9.map((dt9: any) => (
                        <tr class="border-b hover:bg-gray-200">
                            <td class="py-3">{dt9.NOMOR}</td>
                            <td class="py-3">{dt9.cust_name}</td>
                            <td class="py-3">{dt9.januari?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt9.februari?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt9.maret?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt9.april?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt9.mei?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt9.juni?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt9.juli?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt9.agustus?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt9.september?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt9.oktober?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt9.november?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt9.desember?.toLocaleString('id-ID') || '-'}</td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </section>

        <!-- Number of monthly services per cashier -->
        <section class="bg-white rounded-xl p-4 shadow-sm max-h-100 overflow-y-auto overflow-x-auto">
            <h2 class="font-bold mb-4 text-2xl">Number of monthly services per cashier</h2>
            <table class="w-full text-sm">
                <thead class="text-gray-500 border-b">
                    <tr>
                        <th class="text-left py-2">Username(Cashier)</th>
                        <th class="text-left py-2">Jan</th>
                        <th class="text-left py-2">Feb</th>
                        <th class="text-left py-2">Mar</th>
                        <th class="text-left py-2">Apr</th>
                        <th class="text-left py-2">Mei</th>
                        <th class="text-left py-2">Jun</th>
                        <th class="text-left py-2">Jul</th>
                        <th class="text-left py-2">Agt</th>
                        <th class="text-left py-2">Sep</th>
                        <th class="text-left py-2">Okt</th>
                        <th class="text-left py-2">Nov</th>
                        <th class="text-left py-2">Des</th>
                    </tr>
                </thead>
                <tbody>
                    {data10.map((dt10: any) => (
                        <tr class="border-b hover:bg-gray-200">
                            <td class="py-3">{dt10.username}</td>
                            <td class="py-3">{dt10.januari?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt10.februari?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt10.maret?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt10.april?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt10.mei?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt10.juni?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt10.juli?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt10.agustus?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt10.september?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt10.oktober?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt10.november?.toLocaleString('id-ID') || '-'}</td>
                            <td class="py-3">{dt10.desember?.toLocaleString('id-ID') || '-'}</td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </section>
    </div>
</Dashboard>