---
import Dashboard from "../../layouts/Dashboard.astro";

const resp = await fetch('https://backend-webappkasir-production.up.railway.app/api/products');
const products = await resp.json();
---

<Dashboard title="Products">
    <div class="space-y-6">
        <!-- Add product button -->
        <div class="flex justify-end">
            <button class="px-4 py-2 bg-pink-500 text-white rounded-md hover:bg-pink-600">
                + New Product
            </button>
        </div>

        <!-- Product Grid -->
        <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {products.map((product: any) => (
                <div class="bg-white rounded-xl shadow-sm overflow-hidden relative">
                    <!-- Delete Button -->
                    <button class="absolute top-3 right-3 w-10 h-10 opacity-70 bg-red-500 text-white rounded-full flex items-center justify-center hover:bg-red-600"aria-label="Delete Product">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16z" /><path d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z" /></svg>
                    </button>

                    <!-- Image -->
                    <div class="h-48 bg-gray-200">
                        <img
                        src="https://images.unsplash.com/vector-1740294799662-8407742d8edc?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGZvb2R8ZW58MHx8MHx8fDI%3D"
                        alt={product.PRODUCT_NAME}
                        class="w-full h-full object-cover"
                        />
                    </div>

                    <!-- Content -->
                    <div class="p-4 space-y-2">
                        <!-- Product Name -->
                        <h3 class="font-semibold text-lg">{product.PRODUCT_NAME}</h3>

                        <!-- Rating -->
                        <div class="flex items-center gap-2 text-sm">
                            <span class="text-yellow-400">★★★★★</span>
                            <span class="text-gray-500">4.0</span>
                            <span class="text-gray-400">(3.275 Review)</span>
                        </div>

                        <!-- Price -->
                        <p class="font-medium">Rp. {product.PRICE},-</p>

                        <!-- Actions -->
                        <div class="space-y-2 pt-2">
                            <button class="w-full bg-pink-500 text-white py-2 rounded-md hover:bg-pink-600 flex items-center justify-center gap-2">
                                Add To Cart <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-shopping-cart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 2a1 1 0 0 1 .993 .883l.007 .117v1.068l13.071 .935a1 1 0 0 1 .929 1.024l-.01 .114l-1 7a1 1 0 0 1 -.877 .853l-.113 .006h-12v2h10a3 3 0 1 1 -2.995 3.176l-.005 -.176l.005 -.176c.017 -.288 .074 -.564 .166 -.824h-5.342a3 3 0 1 1 -5.824 1.176l-.005 -.176l.005 -.176a3.002 3.002 0 0 1 1.995 -2.654v-12.17h-1a1 1 0 0 1 -.993 -.883l-.007 -.117a1 1 0 0 1 .883 -.993l.117 -.007h2zm0 16a1 1 0 1 0 0 2a1 1 0 0 0 0 -2m11 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2" /></svg>
                            </button>
                            <button class="w-full bg-gray-200 text-gray-700 py-2 rounded-md hover:bg-gray-300">
                                Restok
                            </button>
                        </div>
                    </div>
                </div>
            ))}
        </section>

        <!-- Pagination -->
        <div class="flex justify-center gap-2">
            <!-- Prev Button -->
            <!-- {currentPage > 1 && (
                <a href={`?page=${currentPage - 1}`} class="px-3 py-1 bg-gray-300 hover:bg-gray-400">
                    ←
                </a>
            )} -->

            <!-- Page Numbers -->
            <!-- {Array.from({ length: totalPages }, (_, i) => {
                const pageNumber = i + 1;
                return (
                    <a href={`?page=${pageNumber}`} class={`w-8 h-8 flex items-center justify-center bg-gray-300 ${pageNumber === currentPage ? "bg-gray-400" : "hover:bg-gray-400"}`}>
                        {pageNumber}
                    </a>
                );
            })} -->

            <!-- Next Button -->
            <!-- {currentPage < totalPages && (
                <a href={`?page=${currentPage + 1}`} class="px-3 py-1 bg-gray-300 hover:bg-gray-400">
                    →
                </a>
            )} -->

            <!-- Old Pagination -->
            <!-- <button class="w-8 h-8 bg-gray-300 hover:bg-gray-400">1</button>
            <button class="w-8 h-8 bg-gray-300 hover:bg-gray-400">2</button>
            <button class="w-8 h-8 bg-gray-300 hover:bg-gray-400">→</button> -->
        </div>
    </div>
</Dashboard>